<h1>Sign up</h1>

  <form action="<%= users_url  %>" method="POST">
    <%= auth_token %>
    <label>Username
      <input type="text" name="user[username]">
    </label>
    <label>Password
      <input type="text" name="user[password]">
    </label>

    <button value="submit">Sign Up</button>
  </form>
