<h1>New Goal</h1>

<form action="<%= goals_url  %>" method="POST">
  <%= auth_token %>
  <label>Name
    <input type="text" name="goal[name]">
  </label>
  <label>Description
    <input type="text" name="goal[description]">
  </label>

  <label>Private
    <input type="radio" selected name="goal[private]" value="true">
  </label>
  <label>Public
    <input type="radio" name="goal[private]" value="false">
  </label>

  <button value="submit">Create Goal</button>
</form>
